<h2>Create a Xero Contact</h2>

<form method="POST">
    <label for="Name">Contact Name:</label>
    <br>
    <input type="text" id="Name" placeholder="Enter a unique name" name="input.Name"/>
    <br>
    <label for="EmailAddress">Contact Email Address:</label>
    <br>
    <input type="text" id="EmailAddress" placeholder="Enter email address" name="input.EmailAddress" />
    <br>
    <label for="AccountNumber">Account Number:</label>
    <br>
    <input type="text" id="AccountNumber" placeholder="Enter account number" name="input.AccountNumber" />
    <br>
    <label for="Address1">Postal Address Line 1:</label>
    <br>
    <input type="text" id="Address1" placeholder="Enter postal address line 1" name="input.Addresses[0].AddressLine1" />
    <br>
    <label for="Address2">Postal Address Line 2:</label>
    <br>
    <input type="text" id="Address2" placeholder="Enter postal address line 2" name="input.Addresses[0].AddressLine2" />
    <br>
    <label for="City">Postal City:</label>
    <br>
    <input type="text" id="City" placeholder="Enter postal city" name="input.Addresses[0].City" />
    <br>
    <label for="Region">Postal Region:</label>
    <br>
    <input type="text" id="Region" placeholder="Enter postal region" name="input.Addresses[0].Region" />
    <br>
    <label for="PostalCode">Postal Zip Code:</label>
    <br>
    <input type="text" id="PostalCode" placeholder="Enter postal zip code" name="input.Addresses[0].PostalCode" />
    <br>
    <label for="Country">Postal Country:</label>
    <br>
    <input type="text" id="Country" placeholder="Enter postal country" name="input.Addresses[0].Country" />
    <br>
    <br>
    <input type="submit" />
</form>

<br>
<p>
  <button onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
